@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
    --luxury-gold: #D4AF37;
    --deep-green: #013220;
    --rich-brown: #4E342E;
    --light-cream: #F5F5DC;
    --dark-charcoal: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--light-cream);
    color: var(--dark-charcoal);
}

header {
    background-color: var(--deep-green);
    color: var(--light-cream);
    padding: 20px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: var(--luxury-gold);
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: var(--light-cream);
    font-size: .7rem;
    text-decoration: none;
    padding: 6px 15px;
    border: 2px solid var(--luxury-gold);
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    background-color: var(--luxury-gold);
    color: var(--deep-green);
    border-color: var(--luxury-gold);
    border-radius: 5px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    nav {
        flex-direction: column;
        gap: 10px;
    }

    nav a {
        font-size: 1.2rem;
        padding: 15px;
    }
}

main {
    padding: 40px 0;
}

.intro, .content, .video, .sidebar {
    margin-bottom: 40px;
}

.intro h2, .sidebar h2 {
    font-family: var(--font-titulo);
    font-size: 2rem;
    margin-bottom: 20px;
}

.intro p, .content-item p, .sidebar p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.content .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.video iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.sidebar .container {
    background-color: var(--cor1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    background: linear-gradient(to bottom, var(--cor5), var(--cor2));
    color: var(--cor1);
    padding: 10px;
    border-radius: 8px 8px 0 0;
    margin: -20px -20px 20px -20px;
    text-align: center;
}

p.chamada {
    text-align: center;
}

p.chamada a {
    color: var(--cor2);
    font-weight: bold;
    transition: color 0.3s ease;
}

p.chamada a:hover {
    color: var(--cor4);
}

footer {
    background-color: var(--cor5);
    color: var(--cor1);
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: var(--cor1);
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--cor3);
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2.5rem;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .content .container {
        grid-template-columns: 1fr;
    }
}
